<table>
  <thead>
    <tr>
      <td>学校名</td>
      <td>学年</td>
      <td>受講科目</td>
      <td>生徒名</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @record.student.school %></td>
      <td><%= @record.student.grade %></td>
      <td></td>
      <td><%= @record.student.name %></td>
    </tr>
  </tbody>
</table>