/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  heght: 100vh;
  background-color:#F0F8FF;
}

h1{
  font-size: 30px;
  padding-top: 20px;
}


.container {
      padding-bottom: 60px;
      box-sizing: border-box;
}

footer {
      position: fixed;
      bottom: 0;
      width: 100%;
}

.btn-delete{
  color: #fff;
  background-color: #FF6347;
  border-color: #FF6347;
}

.btn-back{
  color: #fff;
  background-color: #708090;
  border-color:#708090;
}

.btn-edit{
  color: #000;
  background-color: #FFFF33;
  border-color:#FFFF33;
}

.btn-option{
  color: #000;
  background-color: #00FA9A;
  border-color:#00FA9A;
}

.btn-record{
  color: #000;
  background-color:#5D99FF	;
  border-color:#5D99FF	;
}

.name{
  border-bottom:dotted;
  border-color:#808080;
  border-width:1px;
  color:#808080;
}

.name:hover{
  text-decoration:none !important;
}